---
const personalImageAlt = "Yashodhar Patel";
import Badge from "@/components/util/Badge.astro";
import ConnectIcon from "@/components/icons/Connect.astro";
import ResumeIcon from "@/components/icons/Resume.astro";
import SocialPill from "@/components/util/SocialPill.astro";

const resume = "/Yashodhar_Patel_Resume.pdf";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/profile.jpeg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/yashodhar-patel"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available for work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I’m Yashodhar
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Experienced<strong> Full Stack Developer</strong> and <strong
      >Final Year Computer Engineering Student</strong
    > from Mumbai, India 🇮🇳. Passionate about crafting efficient, innovative web
    solutions.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://yashodharpatel.bio.link/">
      <ConnectIcon class="size-4" />
      Get In Touch
    </SocialPill>
    <SocialPill href={resume}>
      <ResumeIcon class="size-4" />
      Resume
    </SocialPill>
  </nav>
</div>